body, header {margin: 0; padding: 0;}
#wrap{ width: 100%; margin: 0 auto;}
header{width: 100%; height: 15%; position: fixed; text-align: center;}
header img {width: 100%; height: auto; }
aside{width: 20%; margin-right: 5%; height: 700px; float: right;}
.aside2{width: 12%; margin-left: 5%; height: 700px; float: left;}
section{width: calc(100% - 25% - 17%); height: 2450px; float: left;}
section .intro img {margin-top: 7%; width: 100%;}
section .event img {width: 100%; border: 0px;}

footer img {margin-top: 7%; width: 100%; height: auto; display: inline; }
